.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-image___preview {
  height: 200px;
  width: 150px;
}

.fighter-preview___property {
  font-size: 25px;
  font-weight: bolder;
  font-family:  'Georgia', serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: white;
}
